a {
    text-decoration: none;
}

p {
    font-family: "Lucida Console", Courier, monospace;
}

footer {
    height: 50px;
    text-align: center;
    vertical-align: middle;
}

ul {
  list-style-type: none;
}