h1 { 
    color: blue;
    font-size: 24px;
}

h2 { 
    color: rgb(14, 121, 112);
    font-size: 18px; 
}

a {
    text-decoration: none;
}

footer {
    height: 50px;
    text-align: center;
    vertical-align: middle;
}

ul {
  list-style-type: none;
}