.servicios {

    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: 50% 50%;
    align-items: center;
    background-color: white;
    color: black;
    height: 521px;
    padding-top: 121px;

    .div-servicios1 {
        display: flex;
        align-items: flex-end;
        text-align: right;
        height: 100%;
    }

    .div-servicios2 {
        text-align: center;
        grid-row: 1 / span 2;
        grid-column-start: 2;
    }

    .div-servicios3 {
        height: 100%;
        text-align: right;
    }
}